body{
    font-family: Arial, Helvetica, sans-serif;
}
.parent
{
    width: 550px;
    border: 1px solid #CCC;
    margin: 10px auto;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.basic,.pro
{
    width: 250px;
    height: 300px;
    background-color: #EEE;
    float: left;
}
.pro{
    margin-left: 50px;
}
.pro::before
{
    content: "";
    width: 1px;
    height: 300px;
    background-color: #03a9f4;
    position: absolute;
    margin-left: -27px;
}
.pro::after
{
    content: "Or";
    background-color: #03a9f4;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 1.8;
    color: white;
    font-size: 14px;
    font-weight: bold;
    top: 50%;
    margin-left: -39px;
}
.child-one
{
    background: #03a9f4;
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}
.child-two,.child-two{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #DDD;
    margin-top: 20px;
    margin-left: 25px;
}
p{
    text-align: center;
    line-height: 8;
    font-size: 25px;
    font-weight: bold;
}