body{
    font-family: Arial, Helvetica, sans-serif;
}
div
{
    display: inline-block;
    border-radius: 50%;
    background-color: #EEE;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 50px;
    border: 2px solid;
    position: relative;
    box-shadow: 5px 5px #2196f3,
     -5px -5px #e91e63;
    counter-increment: number;
}
div::before
{
    content: counter(number);
    background-color: #000;
    color: white;
    width: 30px;
    display: inline-block;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
    position: absolute;
    top: -15px;
    right: 35px;
}
div::after
{
    content: "Element";
    text-align: center;
    display: inline-block;
    margin-top: 36px;
    margin-left: 10px;
}

