div
{
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #8a2be2;
    color: white;
}
.assign-1-shape-2
{
    opacity: .5;
}
.assign-1-shape-3
{
    opacity: .3;
}