:root
{
    --mainBackground:#DDD;
    --mainMargin:10px;
    --mainPadding:15px;
}
body{font-family: Arial, Helvetica, sans-serif;}
.page
{
    background-color: #f2f2f2;
}
.header
{
    display: flex
}
.logo
{
    display: flex;
    background-color: var(--mainBackground);
    justify-content: center;
    align-items: center;
    padding: var(--mainPadding);
    margin: var(--mainMargin);
    flex-basis: 5%;
}
.links
{
    display: flex;
    justify-content: flex-end;
    background-color: var(--mainBackground);
    padding: var(--mainPadding);
    margin: var(--mainMargin);
    flex-basis: 95%;
}
.links li{
    list-style-type: none;
    margin-left: 15px;
}
.main-area
{
    display: flex;
}
.main-area .content
{
    display: flex;
    background-color: var(--mainBackground);
    padding: var(--mainPadding);
    margin: var(--mainMargin);
    flex-basis: 70%;
}
.main-area .sidebar
{
    display: flex;
    background-color: var(--mainBackground);
    padding: var(--mainPadding);
    margin: var(--mainMargin);
    flex-basis: 30%;
    height: 400px;
}
.footer
{
    display: flex;
    justify-content: space-between;
    background-color: var(--mainBackground);
    padding: var(--mainPadding);
    margin: var(--mainMargin);
}